@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .interactive {
    @apply cursor-pointer transition-all hover:scale-105 active:scale-95 ;
  }
}

:root {
  --theme-signal: rgb(36, 171, 247);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0)
  --text: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--white);
  }
}

body {
  color: rgb(var(--text));
}
